<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gausssche_elimination.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2D239721D448B56000F356B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2D239811D448B57000F356B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2D2398C1D448B57000F356B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
